include README.md
include README_ZH.md
include LICENSE
include THIRD_PARTY_NOTICES.md
include requirements.txt
include uv.lock
include __init__.py
recursive-include prompts *
recursive-include schema *
recursive-include cli *.py
recursive-include core *.py
recursive-include core/skills/builtin *
recursive-include core/application/goal_prompts *.md
recursive-include app_server *.py
recursive-include app_server/web_assets *
recursive-include protocol *.json
recursive-include utils *.py
recursive-include tools *.py
recursive-include tools *.yaml
recursive-include workflows *.py
recursive-include workflows *.md
recursive-include eval *.md
global-exclude *.pyc
global-exclude .git*
global-exclude .history*
global-exclude .ruff_cache*
global-exclude __pycache__*
recursive-include core/agent_presets/builtin *
